*,
html {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  align-items: center;
  display: flex;
  justify-content: center;
}

@font-face {
  font-family: "Lexend Deca", sans-serif;
  src: url(https://fonts.google.com/specimen/Lexend+Deca);
  font-weight: 400;
}

@font-face {
  font-family: "Big Shoulders Display", cursive;
  src: url(https://fonts.google.com/specimen/Big+Shoulders+Display);
  font-weight: 700;
}

/*----------------------main---------------------*/

h1 {
  font-family: "Big Shoulders Display";
  font-size: 40px;
  color: hsl(0, 0%, 95%);
  margin-top: 35px;
  line-height: 48px;
}

p {
  font-family: "Lexend Deca";
  font-size: 15px;
  color: hsla(0, 0%, 100%, 0.75);
  margin: 25px 0 85px 0;
  line-height: 25px;
}

.container {
  width: 920;
  height: 500;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  margin-top: 50px;
}

.item {
  width: 307px;
  height: 500px;
  padding: 48px;
  border-radius: 8px;
}

.item1 {
  background-color: hsl(31, 77%, 52%);
}

.item2 {
  background-color: hsl(184, 100%, 22%);
}

.item3 {
  background-color: hsl(179, 100%, 13%);
}

.btn {
  padding: 12px 32px;
  background: #f2f2f2;
  border-radius: 25px;
  transition-duration: 0.5s;
  cursor: pointer;
  text-align: center;
  border: 2px solid #f2f2f2;
  font-family: "Lexend Deca";
  font-size: 15px;
  line-height: 25px;
}

.btn1 {
  color: hsl(31, 77%, 52%);
}

.btn2 {
  color: hsl(184, 100%, 22%);
}

.btn3 {
  color: hsl(179, 100%, 13%);
}

.btn1:hover {
  background-color: hsl(31, 77%, 52%);
  color: hsl(0, 0%, 95%);
}

.btn2:hover {
  background-color: hsl(184, 100%, 22%);
  color: hsl(0, 0%, 95%);
}

.btn3:hover {
  background-color: hsl(179, 100%, 13%);
  color: hsl(0, 0%, 95%);
}

/*----------------------MEDIA QUERY-------------------*/

@media screen and (max-width: 992px) {
  .container {
    margin: 10px;
    width: 327px;
    height: 1326px;
  }

  .item {
    width: 327px;
    height: 442px;
    padding: 48px;
  }

  p {
    margin: 27px 0;
  }
}
